@media (max-width: 900px) {
	.my-work {
		width: 100%;
	}

	.project-container {
		-webkit-box-direction: normal;
		-webkit-box-orient: vertical;
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
	}

	.project-thumbnail, .project-description {
		width: 80%;
	}

	.project-description {
		margin: 2em 0;
	}

	.project-description h1 {
		font-size: 3em;
	}
}

@media (max-width: 599px) {
	.banner, .profile {
		width: 95%;
	}

	.banner h1 {
		font-size: 4em;
		display: block;
		margin-right: 0;
	}

	.nav {
		display: block;
	}

	.nav a {
		margin: 0.5em 0.2em;
	}

	.trio {
		font-size: 0.6em;
	}

	.my-intro {
		font-size: 1.2em;
	}

	.intro-content {
		width: 90%;
	}

	.project-thumbnail {
		width: 95%;
	}

 .project-description {
		width: 98%;
	}

	.contact-me a {
		font-size: 5em;
	}

	.direct-contact a {
		font-size: 1em;
	}
}