/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/***************************************/
/* fonts */
@font-face {
    font-family: 'Neue Helvetica';
    src: url('../font/HelveticaNeueLTStd-Lt.otf');
    font-weight: normal;
    font-style: normal;
}


/* My Styles */
body{
  background-image: url(../img/kindajean.png);
  font-family: 'Neue Helvetica', Helvetica, Arial, sans-serif;
}


/***************************************/
/* pg_top */
.pg-top {
  background-color: rgba(0, 0, 0, 0.8);
  color: rgb(253, 253, 253);
}
.banner {
  width: 80%;
  margin: 0 auto;
  padding-top: 15px;
}
.banner h1 {
  text-align: left;
  padding-top:10px;
  font-size: 85px;
  margin-right: 15px;
  display: inline-block;
}
.nav {
  display: inline-block;
}
.nav a {
  display: inline-block;
  text-decoration: none;
  font-size: 18px;
  margin: 15px;
  padding: 2px;
  color: rgb(253, 253, 253);
}
.nav a.clicked {
  color: rgb(102, 153, 255);
}
.nav a:hover {
  color: rgb(102, 153, 255);
}


/***************************************/
/* About Me */
.content {
  background-color: rgba(0, 0, 0, 0.6);
}
.about-me {
  height: 500px;
  padding: 50px 0;
  background: rgba(29, 27, 26, 0.4);
}
.profile {
  color: rgb(102, 153, 255);
  margin: 0 auto;
  height: 100%;
  width: 80%;
}


/***************************************/
/* My Work Content */
.project_container {
  display: block;
}
.project_container:first-child .screenshot{
  background-image: url(../img/proj3.png);
}
.project_container:nth-child(2) .screenshot{
  background-image: url(../img/proj2.png);
}
.project_container:nth-child(3) .screenshot{
  /*background-image: url(../img/proj3.png);*/
}
.proj {
  width: 80%;
  margin: 0 auto;
}
.box {
  width: 40%;
  min-width: 400px;
  height: 250px;
  padding: 10px 15px;
  background: rgb(253, 253, 253);
  margin: 50px 0;
  display: inline-block;
}
/* clickable screenshot*/
.screenshot {
  width: 100%;
  height: 80%;
  background: rgb(0, 0, 0);
}
.screenshot h3{
  text-align: center;
  position: relative;
  top: 50%;
  color: white;
}
.description {
  display: inline-block;
  background: rgba(29, 27, 26, 1.0);
}
/* box shadow */
.shadow {
  position: relative;
}
.shadow:before, .shadow:after {
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width: 300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
.shadow:after {
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}


/***************************************/
/* Contact Me */
.contact-me {
  text-align: center;
  margin: 0 auto;
  padding: 50px 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: rgb(253, 253, 253);
}
.contact-me a{
  /*color: rgb(47, 47, 47);*/
  color: rgb(253, 253, 253);
  font-size: 140px;
  text-decoration: none;
}
.link-box {
  display: inline-block;
  margin: 10px 20px;
}
.link-box, a:hover{
  color: rgb(102, 153, 255);
}
.link-title {
  display: block;
  margin-top: 5px;
  font-family: 'Neue Helvetica', Helvetica, Arial, sans-serif;
  font-size: 18px;
}
.direct-contact {
  text-align: center;
}
.direct-contact a{
  display: inline-block;
  font-size: 50px;
  margin: 10px;
}
.contact-info{
  vertical-align: middle;
  font-size: 20px;
  font-family: 'Neue Helvetica', Helvetica, Arial, sans-serif;
}

